/* Shared Area */
* {
    margin: 0;
}

/* Header Styles */
.header {
    background-color: #E554731A;
}

.header {
    display: flex;
    align-items: center;
    gap: 90px;
}

.header-left {
    margin-left: 200px;
}

.header-img {
    width: 400px;
    height: 470px;
    margin-right: 200px;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    color: #FFFFFF;
    font-size: 20px;
    border: 0;
    padding: 12px 20px;
}

.header-title {
    margin-bottom: 25px;
    font-size: 40px;
}

.header-description {
    margin-bottom: 25px;
    font-size: 18px;
}


/* Main Section Styles */
.main-first {
    text-align: center;
    padding-top: 80px;
}

.main-first-description {
    padding: 15px 450px 10px 450px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 13px;
}

/* Main optional part styles */
.optional {
    display: flex;
    align-items: center;
    margin-left: 210px;
    gap: 25px;

}

.img-container1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.img-container2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.img-container3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.top-image {
    width: 220px;
    height: 260px;
    padding: 20px 25px 0px 25px;
    display: block;
}

.img-title {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 130px;
    margin-left: 240px;
}

.top-image-title {
    display: block;
    padding-left: 50px;
    color: #111010;
    margin-top: 30px;
    margin-bottom: 30px;
}


/* main middle styles */
.main-middle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    gap: 50px;
}

.middle-left {
    max-width: 50%;
    text-align: center;
}

.middle-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 13px;
    padding: 15px 50px 15px 100px;
}

.middle-img {
    width: 220px;
    height: 260px;
    padding: 70px 200px 70px 20px;
}

.instagram {
    text-align: center;
    margin-top: 50px;
}

.instagram-title {
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: center;
}

.instagram-description {
    padding-left: 350px;
    padding-right: 350px;
    text-align: center;
}

.flower-photos {
    display: flex;
    justify-content: space-around;
    gap: 15px;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 30px;
}

.fp1 {
    width: 220px;
    height: 260px;
}

.fp2 {
    width: 220px;
    height: 260px;
}

.fp3 {
    width: 220px;
    height: 260px;
}

.fp4 {
    width: 220px;
    height: 260px;
}

/* main lower part styles */
.main-lower {
    background-image: url('../Flower Asset/Rectangle 9.png');
    background-size:170vh;
    background-repeat: no-repeat;
    background-position: center;
    margin: 50px 120px;
    text-align: center;
    padding-bottom: 100px;
    display: block;
}

.main-lower-container {
    padding-top: 150px;
}

.lower-title {
    /* padding-top: 100px; */
}

.lower-description {
    padding-bottom: 12px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
}

.lower-form {
    padding-bottom: 50px;
}

.lower-mail {
    width: 400px;
    height: 40px;
    padding-right: 15px;
}

/* Extra part styles */
.Contact-us {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    text-align: center;
    padding-bottom: 50px;
}
.contact-header{
    padding-top: 50px;
    padding-bottom: 20px;
}
.social-links{
    padding: 10px;
}
.social-links a{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}


/* footer style */
.footer {
    background: #111010;
    text-align: center;
}

.footer-title {
    text-align: center;
    color: #FFFFFF;
    padding-top: 100px;
}

.footer-text-color {
    color: #E55473;
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 12px;
    width: 300px;
    padding: 20px 20px 13px 470px;
}

.last-footer {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 10px;
    padding-bottom: 100px;
}